---
import Layout from '../layouts/Layout.astro'
import Gallery from '../components/Gallery.astro'
import Nav from '../components/Nav.astro'
import Sidebar from '../components/Sidebar.astro'
---

<Layout title="Welcome to Astro.">
  <div class="antialiased bg-gray-50 dark:bg-gray-900">
    <Nav />
    <Sidebar />

    <main class="p-4 md:ml-64 h-auto pt-20">
      <Gallery />
    </main>
  </div>
</Layout>
